/* Values */

/* import */

@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Spinnaker");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1");

/* Colors */

$primary-color: #02678f;
$secondary-color: #43a9c7;

$ternary-color: #15f0cb;
$ternary-color-light: #95f5e5;

$primary-color-light: #899fa8;

$ternary-color-dark: #289f3a;

$top-bar-bg: #ffffffea;

/* Font Family */

$poppins: "Poppins";
$spinnaker: "Spinnaker";
$gothica1: "Gothic A1";